body {
    background: white;
}

.text-center {
    text-align: center;
}

.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border-radius: 50%;
    
}

.top {
    background-color: #A6ACAF;
    border-width: 75px;
}

.history {
    background-color: #3499DB;
    text-align: center;
}

.experience {
    background-color: #58D68D;
}

i {
    font-size: 100px;
    color: blue;
}

i:hover {
    color: green;
}

.employer:hover {
    color: red;
}

.school:hover {
    color: red;
}

.hidden {
    color:white;
}

#details {
    width: 33.333%;
    margin: auto;
    text-align: center;
    
}

#schooling {
    background-color: #F7DC6F;
}

h2 {
    margin: 0 auto;
    text-align: center;
}